{% extends "layout.html" %}
{% block title %}Page Not Found{% endblock %}

{% block main %}
<div class="d-flex container-lg justify-content-center">
    <div class="card col-4">
        <div class="card-body" style="box-shadow: 5px 4px 10px">
            <h1 class="card-title">Uh-oh!</h1>
            <h3>This page was not found...</h3>
            {% if session['user_id'] %}
            <a href="/" class="btn btn-secondary">Back home!</a>
            {% else %}
            <a href="/" class="btn btn-secondary m-2">Log In</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
